@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.data-privacy-full-height {
  /* Full viewport height minus header, padding, and tabs navigation */
  min-height: calc(100vh - 200px);
}


/* scrollbar size */
.custom_scrollbar::-webkit-scrollbar {
  width: 4px; /* Chrome/Safari - hide by default */
}

/* track */
.custom_scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 80px 0px 50px 0px;          /* gap top & bottom */
  border-radius: 10px;
  
}

/* thumb */
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a;
}

/* Show on aside hover */
aside:hover .custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c7ce;
}

aside:hover .custom_scrollbar::-webkit-scrollbar-track {
  background: #ebebeb;
}

/* Mobile adjustments */
@media (max-width: 767px) {
  .data-privacy-full-height {
    min-height: calc(100vh - 220px);
  }
}

/* Large screen adjustments */
@media (min-width: 1024px) {
  .data-privacy-full-height {
    min-height: calc(100vh - 140px);
  }
}
/* Hide text on md screens for product select, show only icon and arrow */
@media (min-width: 768px) and (max-width: 1023px) {
  .product-select .product-text {
    color: transparent;
    width: 0;
    overflow: hidden;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  .popup_position {
    bottom: 5em !important;
  }
}

@media (min-width: 1400px) and (max-width: 5000px) {
  .sidebar_bottom_section {
    position: absolute;
    bottom: 1rem;
  }
  .popup_position {
    bottom: 6em !important;
  }
}
.sidebar_bottom_section{
  margin-left: 1em;
  margin-left: 0px;
}
/* Checkbox styling */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #F1F2F4;
  border-radius: 4px;
  background-color: #F7F8F9;
  cursor: pointer;
  position: relative;
  outline: none;
}

.custom-checkbox:checked {
  background-color: #F3F0FF;
  border-color: #6E5DC6;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 8px;
  border: solid #6E5DC6;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

.custom-checkbox:hover {
  border-color: #6E5DC6;
}

/* Dropdown panel styling */
.relative > div[class*="absolute"] {
  border: 1px solid #F1F2F4;
}
/* Hide scrollbar for mobile view */
.chart-scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chart-scroll-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
.border_transparent .relative > div[class*="absolute"], .border_none {
  border: 1px solid transparent !important;
}
/* .relative > div[class*="absolute"] {
  border: 1px solid transparent !important;
} */
